* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #3b68ed 0%, #3028c9 55%, #11145a 100%);
}

/* CONTEÚDO PRINCIPAL */

main {
    flex: 1;
}

/* CABEÇALHO */

.cabecalho {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    background: linear-gradient(
        90deg,
        #3b68ed 0%,
        #3028c9 55%,
        #11145a 100%
    );
}

.cabecalho .nav-link {
    color: white;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.cabecalho .nav-link:hover {
    color: white;
    opacity: 0.8;
}

.cabecalho .nav-link.active {
    color: white;
}

/* LOGO */

.logo-maodata {
    display: flex;
    align-items: center;
}

.logo-maodata img {
    width: 76px;
    height: auto;
    display: block;
}

/* MENU */

.menu {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 17px;
}

.menu a {
    color: white;
    text-decoration: none;

    font-size: 18px;
    font-weight: 400;

    white-space: nowrap;
}

.menu a:hover {
    opacity: 0.8;
}

/* PERFIL */

.perfil {
    margin-left: auto;

    display: flex;
    align-items: center;
}

.perfil img {
    width: 58px;
    height: 58px;

    object-fit: contain;
}

/* FOOTER */

.footer-maodata {
    width: 100%;
    padding: 40px 60px;
}

.footer-conteudo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    width: 100px;
    height: auto;
}

.footer-descricao {
    margin-top: 15px;

    color: white;

    font-family: "Montserrat Alternates", sans-serif;
    font-size: 16px;
    font-weight: 400;

    text-align: center;
}

.footer-direita {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-titulo {
    color: white;

    font-family: "Montserrat Alternates", sans-serif;
    font-size: 20px;
    font-weight: 400;

    margin-bottom: 15px;
}

.redes-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.redes-sociais img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    display: block;
}